<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".about_html", tut_href: link_to(t("tutorial"),
  "https://www.railstutorial.org"),
  book_href: link_to(t(".book"), "https://www.railstutorial.org/book"),
  main_href: link_to(t(".main"), "https://rubyonrails.org"),
  screencast_href: link_to(t(".screencast"), "http://screencasts.railstutorial.org")
  %>
</p>
