<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".help_html", href1: link_to(t(".help_href"), "https://www.railstutorial.org/#help")
  %>
  <%= t ".book_html", href2: link_to(t(".book_href"), "https://www.railstutorial.org/book")
  %>
</p>
